<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.naccl.mapper.OrderMapper">

    <!--通过用户id提交订单列表    -->
    <insert id="summitOrder" parameterType="top.naccl.entity.Order">
        insert into order_table (user_id, product_id, price, size, quantity, amount, address, status, pay_type,
                                 pay_time,
                                 delivery_time, delivery, order_remarks, express, finish_time, cancel_time, refund_time,
                                 refund_reason, refund_status, refund_amount, refund_no, refund_time_limit,
                                 refund_remarks,
                                 order_number, pay_trade_no,create_time, update_time,parent_id)
        values (#{userId}, #{productId}, #{price}, #{size}, #{quantity}, #{amount}, #{address}, #{status}, #{payType},
                #{payTime}, #{deliveryTime}, #{delivery}, #{orderRemarks}, #{express}, #{finishTime}, #{cancelTime},
                #{refundTime}, #{refundReason}, #{refundStatus}, #{refundAmount}, #{refundNo}, #{refundTimeLimit},
                #{refundRemarks}, #{orderNumber}, #{payTradeNo},#{createTime}, #{updateTime},#{parentId})
    </insert>

    <!--更新订单状态    -->
    <update id="updateOrder" parameterType="top.naccl.entity.Order">
        update order_table
        <set>
            <if test="userId != null">
                user_id= #{userId},
            </if>
            <if test="productId != null">
                product_id= #{productId},
            </if>
            <if test="price != null">
                price= #{price},
            </if>
            <if test="size != null">
                size= #{size},
            </if>
            <if test="quantity != null">
                quantity= #{quantity},
            </if>
            <if test="amount != null">
                amount= #{amount},
            </if>
            <if test="address!= null">
                address= #{address},
            </if>
            <if test="status != null">
                status= #{status},
            </if>
            <if test="payType != null">
                pay_type= #{payType},
            </if>
            <if test="payTime != null">
                pay_time= #{payTime},
            </if>
            <if test="deliveryTime != null">
                delivery_time= #{deliveryTime},
            </if>
            <if test="delivery != null">
                delivery= #{delivery},
            </if>
            <if test="orderRemarks != null">
                order_remarks= #{orderRemarks},
            </if>
            <if test="express != null">
                express= #{express},
            </if>
            <if test="payTradeNo != null">
                pay_trade_no= #{payTradeNo},
            </if>
            <if test="finishTime != null">
                finish_time= #{finishTime},
            </if>
            <if test="cancelTime != null">
                cancel_time= #{cancelTime},
            </if>
            <if test="refundTime != null">
                refund_time= #{refundTime},
            </if>
            <if test="refundReason != null">
                refund_reason= #{refundReason},
            </if>
            <if test="refundStatus != null">
                refund_status= #{refundStatus},
            </if>
            <if test="refundAmount != null">
                refund_amount= #{refundAmount},
            </if>
            <if test="refundNo != null">
                refund_no= #{refundNo},
            </if>
            <if test="refundTimeLimit != null">
                refund_time_limit= #{refundTimeLimit},
            </if>
            <if test="refundRemarks != null">
                refund_remarks= #{refundRemarks},
            </if>
            <if test="orderNumber != null">
                order_number= #{orderNumber},
            </if>
            <if test="createTime != null">
                create_time= #{createTime},
            </if>
            <if test="updateTime != null">
                update_time= #{updateTime}
            </if>
        </set>
        where order_number = #{orderNumber} and parent_id = #{parentId}
    </update>
    <update id="updateExpress">
        update order_table
        <set>
            <if test="express != null">
                express= #{express}
            </if>
        </set>
       <where>
              <if test="parentId != null">
                  parent_id = #{parentId}
              </if>
              <if test="id != null">
                  and id = #{id}
              </if>
       </where>
    </update>
    <!--更新订单状态    -->
    <update id="updateStatus">
        update order_table
        <set>
            <if test="status != null">
                status= #{status}
            </if>
        </set>
        <where>
            <if test="parentId != null">
                parent_id= #{parentId}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </update>
    <delete id="deleteOrderByOrderNumber">
        delete from order_table
        where order_number = #{orderNumber} and parent_id = #{parentId} and user_id = #{userId}
    </delete>
    <!--通过id删除订单    -->
    <delete id="deleteOrderById" parameterType="java.lang.Long">
        delete from order_table
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
        </where>
    </delete>
    <!--查询当前用户下单的单个商品的数量  支付的订单   -->
<!--    <select id="getProductOrderCountByUserId" resultType="java.lang.Integer" parameterType="java.lang.Long">-->
<!--        select sum(ifnull(quantity,0))-->
<!--        from order_table-->
<!--        where user_id = #{userId}-->
<!--        and product_id =#{productId}-->
<!--        <![CDATA[and status < 4 ]]>-->
<!--    </select>-->
    <!--查询当前用户下单的单个商品的数量  支付的订单   -->
    <select id="getProductOrderCountByUserId" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select count(quantity)
        from order_table
        where user_id = 1
        and product_id =4
         <![CDATA[and status < 4 ]]>
    </select>



    <!--查询当前订单号的订单    -->
    <select id="getOrderByOrderNumberWithUserId" resultType="top.naccl.entity.Order" parameterType="java.lang.String">
        select *
        from order_table
        where order_number = #{orderNumber}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        and parent_id = #{parentId}
    </select>
    <!--查询当前用户下的订单信息    -->
    <select id="getOrderListByUserId" resultType="top.naccl.model.vo.OrderListVo">
        select o.id,o.order_number, p.name,p.image, p.code, o.create_time,o.price, o.quantity, o.size, o.amount,o.parent_id,o.status,o.express
        from order_table as o
                 left join product as p on p.id = o.product_id
        where o.user_id = #{userId}
        <if test="parentId != null">
            and o.parent_id = #{parentId}
        </if>
        <if test="status != null">
            and o.status = #{status}
        </if>
        order by o.create_time desc
    </select>

    <!--查询订单号下的订单信息    -->
    <select id="getOrderListByOrderNumberWithUserId" resultType="top.naccl.entity.Order">
        select * from order_table where order_number = #{orderNumber} and parent_id = #{parentId} and user_id = #{userId}
    </select>
    <!--    -->
    <select id="getAllOrderList" resultType="top.naccl.model.vo.OrderAminVo" parameterType="java.lang.Long">
        select o.*,p.name,p.image, p.code
        from order_table as o
        left join product as p on p.id = o.product_id
        where o.parent_id = #{parentId}
        <if test="startDate!=null and endDate!=null">
            and o.create_time between #{startDate} and #{endDate}
        </if>
        <if test="orderNumber!=null and orderNumber!=''">
            and o.order_number = #{orderNumber}
        </if>
        <if test="status!=null">
            and o.status = #{status}
        </if>
        order by o.create_time desc
    </select>
    <!--通过id查询订单    -->
    <select id="getOrderById" resultType="top.naccl.entity.Order" parameterType="java.lang.Long">
        select * from order_table
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
        </where>
    </select>


</mapper>