<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.naccl.mapper.OrderMapper">

    <!--通过用户id提交订单列表    -->
    <insert id="summitOrder" parameterType="top.naccl.entity.Order">
        insert into order_table (user_id, product_id, price, size, quantity, amount, address_id, status, pay_type,
                                 pay_time,
                                 delivery_time, delivery, order_remarks, express, finish_time, cancel_time, refund_time,
                                 refund_reason, refund_status, refund_amount, refund_no, refund_time_limit,
                                 refund_remarks,
                                 order_number, create_time, update_time)
        values (#{userId}, #{productId}, #{price}, #{size}, #{quantity}, #{amount}, #{addressId}, #{status}, #{payType},
                #{payTime}, #{deliveryTime}, #{delivery}, #{orderRemarks}, #{express}, #{finishTime}, #{cancelTime},
                #{refundTime}, #{refundReason}, #{refundStatus}, #{refundAmount}, #{refundNo}, #{refundTimeLimit},
                #{refundRemarks}, #{orderNumber}, #{createTime}, #{updateTime})
    </insert>

    <!--更新订单状态    -->
    <update id="updateOrder" parameterType="top.naccl.entity.Order">
        update order_table
        <set>
            <if test="userId != null">
                user_id= #{userId},
            </if>
            <if test="productId != null">
                product_id= #{productId},
            </if>
            <if test="price != null">
                price= #{price},
            </if>
            <if test="size != null">
                size= #{size},
            </if>
            <if test="quantity != null">
                quantity= #{quantity},
            </if>
            <if test="amount != null">
                amount= #{amount},
            </if>
            <if test="addressId != null">
                address_id= #{addressId},
            </if>
            <if test="status != null">
                status= #{status},
            </if>
            <if test="payType != null">
                pay_type= #{payType},
            </if>
            <if test="payTime != null">
                pay_time= #{payTime},
            </if>
            <if test="deliveryTime != null">
                delivery_time= #{deliveryTime},
            </if>
            <if test="delivery != null">
                delivery= #{delivery},
            </if>
            <if test="orderRemarks != null">
                order_remarks= #{orderRemarks},
            </if>
            <if test="express != null">
                express= #{express},
            </if>
            <if test="finishTime != null">
                finish_time= #{finishTime},
            </if>
            <if test="cancelTime != null">
                cancel_time= #{cancelTime},
            </if>
            <if test="refundTime != null">
                refund_time= #{refundTime},
            </if>
            <if test="refundReason != null">
                refund_reason= #{refundReason},
            </if>
            <if test="refundStatus != null">
                refund_status= #{refundStatus},
            </if>
            <if test="refundAmount != null">
                refund_amount= #{refundAmount},
            </if>
            <if test="refundNo != null">
                refund_no= #{refundNo},
            </if>
            <if test="refundTimeLimit != null">
                refund_time_limit= #{refundTimeLimit},
            </if>
            <if test="refundRemarks != null">
                refund_remarks= #{refundRemarks},
            </if>
            <if test="orderNumber != null">
                order_number= #{orderNumber},
            </if>
            <if test="createTime != null">
                create_time= #{createTime},
            </if>
            <if test="updateTime != null">
                update_time= #{updateTime},
            </if>
        </set>
        where order_number = #{orderNumber}
    </update>
    <!--查询当前用户下单的单个商品的数量  支付的订单   -->
    <select id="getProductOrderCountByUserId" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select sum(quantity)
        from order_table
        where user_id = #{userId}
          and product_id = #{productId}
        <![CDATA[and status < 4 ]]>
    </select>

    <!--查询当前订单号的订单    -->
    <select id="getOrderByOrderNumber" resultType="top.naccl.entity.Order" parameterType="java.lang.String">
        select *
        from order_table
        where order_number = #{orderNumber}
    </select>


</mapper>